<partial name="_Notification" />
@model ResetPasswordModel // This is the model that is passed to the view

@{
    ViewData["Title"] = "ResetPassword"; // This is the title of the page
}

<form method="post" asp-action="ResetPassword">
    <div class="border p-3 mt-4">
        <div>
            <h2>Reset password</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <!--These hidden fields preserve the email and token-->
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />

        <div class="mb-3">
            <label asp-for="NewPassword" class="mb-3">New Password</label>
            <input asp-for="NewPassword" class="form-control" placeholder="Enter new password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="mb-3">New Password</label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Reset Password</button>
    </div>
</form>